section {
  min-height: calc(100vh - 165px - 70px);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

section > div {
  width: 45%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#waiter * {
  text-align: center;
  border: none;
}

section > div h2 {
  margin-bottom: 10px;
  color: #31555C;
}

section > div h3 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #31555C;
  border-bottom: solid 2px #31555C;
}

section > div h4 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #31555C;
}

section > div h2 br.responsive-only {
  display: none;
}

section > div h2 + p {
  margin: 0 0 25px 0;
  font-style: italic;
}

section > div#carte table {
  margin-bottom: 40px;
}

section > div#carte table td {
  padding: 5px 10px;
}

section > div#carte table td.ta-center.italic {
  padding: 0;
  position: relative;
  top: -8px;
  padding-left: 10px;
  margin: 0;
  color: #31555C;
}

section > div#carte table td.ta-center.italic small {
  color: #31555C;
}

section > div table .menu-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #31555C;
}

section > div table .sub-title {
  padding-bottom: 10px !important;
}

section > div#carte table .menu-title {
  padding: 15px 0;
}

section > div#menus table .menu-title {
  padding-top: 20px;
}

section > div#menus table tr td:nth-child(2n) {
  text-align: center;
}

@media screen and (max-width: 1300px) {
  section#main {
    flex-direction: column-reverse;
    align-items: center;
  }

  section#main > div {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  section#main {
    font-size: 12px;
    padding: 5px;
  }

  section > div {
    padding: 20px 0;
  }

  section > div h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 30px;
  }

  section > div h2 br.responsive-only {
    display: block;
  }

  section > div#carte table {
    margin-bottom: 25px;
  }

  section > div#carte table .menu-title {
    font-size: 18px;
  }

  section > div#carte table tr td:first-child {
    width: 80%;
  }

  section > div#carte table tr td:nth-child(2n) {
    width: 20%;
  }
 
  section > div#carte table#huitres tr td:first-child {
    width: 70%;
  }

  section > div#carte table#huitres tr td:nth-child(2n) {
    width: 30%;
  }

  section > div#menus table {
    width: 100%;
  }
  
  section > div#menus table .menu-title {
    font-size: 13px;
  }

  section > div table small {
    font-size: 9px;
  }

  section#main > div {
    width: 100%;
  }
}